Repository PahaN47/company-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --max-warnings=0 --fix \"{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)\"",
        "prettier --write \"{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)\""
    ],
    "src/**/*.style.{js,ts}": ["stylelint --max-warnings=0 \"src/**/*.style.{js,ts}\""]
}

test commit 7
  .vscode/settings.json
  package-lock.json
  package.json
  src/globalStyles.style.ts
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

initial commit
  .gihub/workflows/ci.yml
  package-lock.json
  package.json
Due: none

removed readme
  README.md
Due: none

test commit
  text.txt
Due: none

renamed a typo
  .github/workflows/ci.yml
Due: none

removed typo
  .gihub/workflows/ci.yml
Due: none

test commit
  test.txt
Due: none

changed tsconfig
  tsconfig.json
  tsconfig.paths.json
Due: none

nastya commit
  README.md
Due: none

nastya commit (#4)
  README.md
Due: none

removed test.txt
  test.txt
Due: none

Create me.txt
  ssahaa/me.txt
Due: none

test readme
  README.md
Due: none

Create пожелание_1
  Пожелания Саши/пожелание_1
Due: none

updated readme
  README.md
Due: none

Update README.md
  README.md
Due: none

custom link
  .vscode/settings.json
  src/components/CustomLink/CustomLink.tsx
  src/components/CustomLink/CustomLink.types.ts
  src/components/CustomLink/index.ts
  src/pages/index.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

custom link (#8)
  .vscode/settings.json
  src/components/CustomLink/CustomLink.tsx
  src/components/CustomLink/CustomLink.types.ts
  src/components/CustomLink/index.ts
  src/pages/index.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

add storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/CustomLink/CustomLink.stories.tsx
  src/components/CustomLink/CustomLink.types.ts
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

code style
  .storybook/main.js
  .storybook/preview.js
Due: none

installed fonts
  .lintstagedrc
  src/assets/fonts/GolosText-Black.ttf
  src/assets/fonts/GolosText-Bold.ttf
  src/assets/fonts/GolosText-ExtraBold.ttf
  src/assets/fonts/GolosText-Medium.ttf
  src/assets/fonts/GolosText-Regular.ttf
  src/assets/fonts/GolosText-SemiBold.ttf
  src/globalStyles.style.ts
  src/pages/index.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

added color and text styles
  src/const/index.ts
  src/const/style/color.ts
  src/const/style/index.ts
  src/mixins/index.ts
  src/mixins/typography.ts
  src/types/index.ts
  src/types/style/index.ts
  src/types/style/text.ts
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

added stylelintignore
  .stylelintignore
Due: none

custom button
  .storybook/main.js
  .storybook/preview.js
  .stylelintignore
  package.json
  src/components/CustomButton/CustomButton.style.ts
  src/components/CustomButton/CustomButton.tsx
  src/components/CustomButton/CustomButton.types.ts
  src/components/CustomButton/index.ts
  src/components/CustomLink/CustomLink.types.ts
  src/mixins/index.ts
  src/mixins/textStyle.ts
  src/pages/index.tsx
  src/stories/CustomButton.stories.tsx
  src/stories/CustomLink.stories.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

custom button (#13)
  .storybook/main.js
  .storybook/preview.js
  .stylelintignore
  package.json
  src/components/CustomButton/CustomButton.style.ts
  src/components/CustomButton/CustomButton.tsx
  src/components/CustomButton/CustomButton.types.ts
  src/components/CustomButton/index.ts
  src/components/CustomLink/CustomLink.types.ts
  src/mixins/index.ts
  src/mixins/textStyle.ts
  src/pages/index.tsx
  src/stories/CustomButton.stories.tsx
  src/stories/CustomLink.stories.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

fix eslint
  .vscode/settings.json
Due: none

fix eslint (#14)
  .vscode/settings.json
Due: none

custom input
  src/components/CustomInput/CustomInput.style.ts
  src/components/CustomInput/CustomInput.tsx
  src/components/CustomInput/CustomInput.types.ts
  src/components/CustomInput/index.ts
  src/const/style/color.ts
  src/mixins/customSrollbar.ts
  src/mixins/index.ts
  src/pages/index.tsx
  src/stories/CustomInput.stories.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

custom input (#15)
  src/components/CustomInput/CustomInput.style.ts
  src/components/CustomInput/CustomInput.tsx
  src/components/CustomInput/CustomInput.types.ts
  src/components/CustomInput/index.ts
  src/const/style/color.ts
  src/mixins/customSrollbar.ts
  src/mixins/index.ts
  src/pages/index.tsx
  src/stories/CustomInput.stories.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

no idea why but here it is
  package-lock.json
  package.json
  src/stories/MuiButton.stories.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

Custom input (#16)
  package-lock.json
  package.json
  src/stories/MuiButton.stories.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

basic components
  .storybook/main.js
  .storybook/preview.js
  @types/assets.d.ts
  next.config.js
  package-lock.json
  package.json
  src/assets/img/index.ts
  src/assets/img/svg/check.svg
  src/assets/img/svg/cross.svg
  src/components/BasePage/BasePage.style.tsx
  src/components/BasePage/BasePage.tsx
  src/components/BasePage/BasePage.types.ts
  src/components/BasePage/index.ts
  src/components/CustomAvatar/CustomAvatar.style.tsx
  src/components/CustomAvatar/CustomAvatar.tsx
  src/components/CustomAvatar/CustomAvatar.types.ts
  src/components/CustomAvatar/index.ts
  src/components/FancyButton/FancyButton.style.tsx
  src/components/FancyButton/FancyButton.tsx
  src/components/FancyButton/FancyButton.types.ts
  src/components/FancyButton/index.ts
  src/components/Header/Header.style.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/const/style/color.ts
  src/const/style/index.ts
  src/const/style/mui-theme.ts
  src/globalStyles.style.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/store/auth/reducer.ts
  src/store/balance/reducer.ts
  src/store/matches/reducer.ts
  src/store/profile/reducer.ts
  src/stories/BasePage.stories.tsx
  src/stories/CustomAvatar.stories.tsx
  src/stories/FancyButton.stories.tsx
  src/stories/Header.stories.tsx
  tsconfig.json
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

basic components (#18)
  .storybook/main.js
  .storybook/preview.js
  @types/assets.d.ts
  next.config.js
  package-lock.json
  package.json
  src/assets/img/index.ts
  src/assets/img/svg/check.svg
  src/assets/img/svg/cross.svg
  src/components/BasePage/BasePage.style.tsx
  src/components/BasePage/BasePage.tsx
  src/components/BasePage/BasePage.types.ts
  src/components/BasePage/index.ts
  src/components/CustomAvatar/CustomAvatar.style.tsx
  src/components/CustomAvatar/CustomAvatar.tsx
  src/components/CustomAvatar/CustomAvatar.types.ts
  src/components/CustomAvatar/index.ts
  src/components/FancyButton/FancyButton.style.tsx
  src/components/FancyButton/FancyButton.tsx
  src/components/FancyButton/FancyButton.types.ts
  src/components/FancyButton/index.ts
  src/components/Header/Header.style.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/const/style/color.ts
  src/const/style/index.ts
  src/const/style/mui-theme.ts
  src/globalStyles.style.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/store/auth/reducer.ts
  src/store/balance/reducer.ts
  src/store/matches/reducer.ts
  src/store/profile/reducer.ts
  src/stories/BasePage.stories.tsx
  src/stories/CustomAvatar.stories.tsx
  src/stories/FancyButton.stories.tsx
  src/stories/Header.stories.tsx
  tsconfig.json
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", stylelint --max-warnings=0 "src/**/*.style.{js,ts}"

next-bugs
  .babelrc
  package-lock.json
  package.json
  src/components/FancyButton/FancyButton.const.ts
  src/components/FancyButton/FancyButton.style.tsx
  src/components/FancyButton/FancyButton.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"

next-bugs (#19)
  .babelrc
  package-lock.json
  package.json
  src/components/FancyButton/FancyButton.const.ts
  src/components/FancyButton/FancyButton.style.tsx
  src/components/FancyButton/FancyButton.tsx
Due: eslint --max-warnings=0 --fix "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)", prettier --write "{src,pages,.storybook}/**/*.+(js|jsx|ts|tsx|json)"
